<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RAW Signing</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Fireblocks RAW Signing demo</a>
        </div>
    </nav>

    <div class="container mt-4">
        <div id="connectionResult" class="alert"></div>

        <h2 class="mt-4">Step 1: Connect Fireblocks</h2>
        <form id="fireblocksForm" class="mb-3">
            <div class="form-group mb-3">
                <label for="fireblocksApiKey">API Key</label>
                <input type="text" class="form-control" id="fireblocksApiKey" name="fireblocks_api_key" value="{{ defaults["fireblocks_api_key"] }}">
            </div>

            <form id="fireblocksSecretForm" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="fireblocksSecret">Fireblocks secret key</label>
                    <input type="file" class="form-control-file" id="fireblocksSecret" name="fireblocks_secret">
                    <button type="button" id="uploadFireblocksSecretButton" class="btn btn-secondary">Upload</button>
                </div>
            </form>

            <button type="button" id="connectFireblocksButton" class="btn btn-primary">Connect</button>
        </form>

        <h2 class="mt-4">Step 2: Create ATOM Staking Transaction</h2>
        <form id="transactionSignForm" class="mb-3">
            <div class="form-group mb-3">
                <label for="vaultSelector">Vault</label>
                <select id="vaultSelector" class="form-control">
                </select>
            </div>
            <div class="form-group">
                <label for="assetSelector">Asset Wallet</label>
                <select id="assetSelector" class="form-control">
                </select>
            </div>
        </form>

        <form id="createTxForm" class="mb-3">
            <div class="form-group mb-3">
                <label for="stashWalletAddress">Wallet Address</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="stashWalletAddress" name="stash_wallet_address">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-secondary" id="getAddressButton">Get address</button>
                    </div>
                </div>
            </div>
            <div class="form-group mb-3">
                <label for="amount">Amount of ATOM</label>
                <input type="number" class="form-control" id="amount" name="amount">
            </div>
            <button type="button" id="createTxButton" class="btn btn-primary">Create transaction</button>
        </form>

        <h2 class="mt-4">Step 3: Sign transaction</h2>
        <form id="signTxForm" class="mb-3">
            <div class="form-group mb-3">
                <label for="txData">Tx Data</label>
                <textarea class="form-control" id="txData" rows="2"></textarea>
            </div>

            <div class="form-group mb-3">
                <label for="txHash">Tx Hash</label>
                <input type="text" class="form-control" id="txHash" name="tx_hash">
            </div>

            <div class="d-flex align-items-center mb-3">
                <button type="button" id="sendTxButton" class="btn btn-primary me-2">Send</button>
                <span class="me-2">Fireblocks transaction id</span>
                <input type="text" id="transactionId" class="form-control me-2" style="width: 300px;">
                <button type="button" id="checkTxStatusButton" class="btn btn-secondary me-2">Check status</button>
                <input type="text" id="transactionStatus" class="form-control me-2" style="width: 200px;">
            </div>
        </form>

        <form id="broadcastTxForm" class="mb-3">
            <div class="form-group mb-3">
                <label for="txSignature">Signature</label>
                <textarea class="form-control" id="txSignature" rows="2"></textarea>
            </div>
            <button type="button" id="broadcastTxButton" class="btn btn-danger">Broadcast transaction</button>
        </form>

    </div>


    <script>
        function showAlert(text, success) {
            if (success) {
                $('#connectionResult').removeClass('alert-danger').addClass('alert-success').text(text);
            } else {
                $('#connectionResult').removeClass('alert-success').addClass('alert-danger').text(text);
            }
        }

        $(document).ready(function() {
            $('#getAddressButton').click(function() {
                var vaultId = $('#vaultSelector').val();
                var assetId = $('#assetSelector').val();

                $.ajax({
                    url: '/get_wallet_address',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        vault_account_id: vaultId,
                        asset_id: assetId
                    }),
                    success: function(response) {
                        if (response.success) {
                            $('#stashWalletAddress').val(response.address);
                        } else {
                            showAlert('Error: ' + response.error, false);
                        }
                    }
                });
            });

            $('#createTxButton').click(function() {
                $.ajax({
                    url: '/create_tx',
                    type: 'post',
                    data: $('#createTxForm').serialize(),
                    success: function(data) {
                        if (data.success) {
                            $('#txData').val(data.tx_data);
                            $('#txHash').val(data.tx_hash);

                        } else {
                            showAlert('Error: ' + data.error, false);
                        }
                    }
                });
            });


            $('#connectFireblocksButton').click(function() {
                $.ajax({
                    url: '/connect_fireblocks',
                    type: 'post',
                    data: $('#fireblocksForm').serialize(),
                    success: function(data) {

                        console.log(data);

                        if (data.success && data.vaults && data.vaults.accounts && Array.isArray(data.vaults.accounts)) {
                            var vaultSelector = $('#vaultSelector');
                            var assetSelector = $('#assetSelector');

                            vaultSelector.empty();
                            assetSelector.empty();

                            data.vaults.accounts.forEach(function(account) {
                                vaultSelector.append($('<option>', {
                                    value: account.id,
                                    text: account.name
                                }));
                            });

                            vaultSelector.change(function() {
                                var selectedAccountId = $(this).val();
                                var selectedAccount = data.vaults.accounts.find(function(account) {
                                    return account.id === selectedAccountId;
                                });

                                assetSelector.empty();

                                if (selectedAccount && selectedAccount.assets && Array.isArray(selectedAccount.assets)) {
                                    selectedAccount.assets.forEach(function(asset) {
                                        assetSelector.append($('<option>', {
                                            value: asset.id,
                                            text: asset.id
                                        }));
                                    });
                                }
                            });

                            vaultSelector.trigger('change');
                            showAlert('Successfully connected to Fireblocks', true);
                        } else {
                            showAlert('Connection error: ' + (data.error || 'Unknown error'), false);
                        }
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.log('AJAX error:', textStatus, ' : ', errorThrown);
                        showAlert('AJAX error: ' + textStatus, false);
                    }
                });
            });


            $('#sendTxButton').click(function() {
                var formData = new FormData($('#fireblocksForm')[0]);
                formData.append('txData', $('#txData').val());
                formData.append('txHash', $('#txHash').val());
                $.ajax({
                    url: '/send_tx',
                    type: 'post',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(data) {
                        if(data.success){
                            showAlert('Tx id: ' + data.txId, true)
                            $('#transactionId').val(data.txId)
                        } else {
                            showAlert('Error: ' + data.error, false);
                        }

                    }
                });
            });

            $('#checkTxStatusButton').click(function() {
                var txId = $('#transactionId').val();

                $.ajax({
                    url: '/check_tx_status',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        transaction_id: txId
                    }),
                    success: function(data) {
                        if (data.success) {
                            $('#transactionStatus').val(data.status)
                            $('#txSignature').val(data.fullSig)
                        } else {
                            showAlert('Error: ' + data.error, false);
                        }
                    }
                });
            });

            $('#broadcastTxButton').click(function() {
                var txData = $('#txData').val();
                var txHash = $('#txHash').val();
                var txSignature = $('#txSignature').val()

                $.ajax({
                    url: '/broadcast_tx',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        transaction_data: txData,
                        transaction_hash: txHash,
                        transaction_signature: txSignature
                    }),
                    success: function(data) {
                        if (data.success) {
                            showAlert('response: ' + data.result)
                        } else {
                            showAlert('Error: ' + data.error, false);
                        }
                    }
                });
            });

            $('#uploadFireblocksSecretButton').click(function() {
                var formData = new FormData();
                formData.append('fireblocks_secret', $('#fireblocksSecret')[0].files[0]);

                $.ajax({
                    url: '/upload_fireblocks_secret',
                    type: 'post',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function(data) {
                        if (data.success) {
                            showAlert(data.result, true);
                        } else {
                            showAlert(data.result, false);
                        }
                    },
                    error: function(xhr, status, error) {
                        showAlert('AJAX error: ' + error, false);
                    }
                });
            });


        });
    </script>


</body>
</html>
